#audio_settings .flex {
    display: flex;
}


#audio_settings .flex.column {
    flex-direction: column;
}
#audio_settings .flex.column-reverse {
    flex-direction: column-reverse;
}
#audio_settings .flex.row {
    flex-direction: row;
}
#audio_settings .flex.row-reverse {
    flex-direction: row-reverse;
}
/* align-items: center;
justify-content: flex-end;
gap: 12px; */
#audio_settings .flex.align-center {
    align-items: center;
}
#audio_settings .flex.justify-center {
    justify-content: center;
}
#audio_settings .flex.justify-start {
    justify-content: flex-start;
}
#audio_settings .flex.justify-end {
    justify-content: flex-end;
}

#audio_settings .flex.gap-12 {
    gap: 12px;
}

#audio_settings .btn-refresh {
    width: 32px;
    height: 32px;
    border-radius: 12px;
}

#audio_settings .audio-container .audio-mute-button-muted {
    color: red;
}

#audio_settings .audio-container {
    padding: 3px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px rgb(75, 75, 75) solid;
    border-radius: 10px;
}

#audio_settings .audio-container .audio-player-button {
    position: relative;
    height: 2rem;
}

#audio_settings .audio-container>.vol {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#audio_settings .audio-container>.vol>input {
    width: 100%;
}

#audio_settings .audio-container>.playlist {
    flex-grow: 1;
}

#audio_settings .audio-container>.playlist>select {
    height: 100%;
    margin: 0 !important;
}

#audio_settings .audio-container>.config {
    display: flex;
    gap: 10px;
}

#audio_settings .audio_ui_selected_pack {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#audio_settings .audio_ui_selected_pack_icon {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    background: #3f3f3f;
    background-image: url("/img/No-Image-Placeholder.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* STYLES */

.style-config-ui-interactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.style-config-ui-interactions>.config-section {
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px rgb(75, 75, 75) solid;
}
.style-config-ui-interactions>.config-section>.config-row {
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px rgb(75, 75, 75) solid;
}

.style-config-ui-interactions>.config-section>.config-row.config-row-last {
    border-bottom: none;
}

/* DROPDOWN */

#modal-container[for-extension="dynamic-audio"] .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--SmartThemeBlurTintColor);
    border-radius: 4px;
    border: 1px solid #3f3f3f;
    padding: 4px 8px;
    cursor: pointer;
}
#modal-container[for-extension="dynamic-audio"] .dropdown p,
#modal-container[for-extension="dynamic-audio"] .dropdown-dialog * {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#modal-container[for-extension="dynamic-audio"] .dropdown.open p {
    color: var(--SmartThemeBodyColor);
}

#modal-container[for-extension="dynamic-audio"] .dropdown svg {
    display: block;
    width: 24px;
    height: 24px;
}
#modal-container[for-extension="dynamic-audio"] .dropdown .icon.ico-white {
    fill: var(--SmartThemeBodyColor);
}

.dropdown-dialog {
    --dropdown-bg-color: var(--SmartThemeBlurTintColor);
    --dropdown-text-color: var(--SmartThemeBodyColor);
    --dropdown-border-color: #3f3f3f;
    --dropdown-hover-color: #4f4f4f;
    --dropdown-select-color: #4f4f4f;
}

.dropdown-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5500;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.0);
    pointer-events: none;
}
.dropdown-dialog>.dismiss-box {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
}
.dropdown-dialog.open {
    background-color: rgba(0,0,0,0.5);
    pointer-events: all;
    transition: background-color 0.3s linear;
}
.dropdown-dialog .body {
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    border: 1px solid var(--dropdown-border-color);
    overflow: auto;
    max-height: 500px;
    width: 100%;
}
.dropdown-dialog .item {
    color: var(--dropdown-text-color);
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown-dialog .btn-close {
    background-color: var(--dropdown-select-color);
    top: 0;
    right: 0;
    padding: 4px 12px;
    padding-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--table-border-color);
}
.dropdown-dialog .item.selected {
    background-color: var(--dropdown-select-color);
    opacity: 0.8;
}
/* item item-select */
.dropdown-dialog .item-select {
    background-color: var(--dropdown-select-color);
}
.dropdown-dialog .item:hover {
    background-color: var(--dropdown-hover-color);
}
.dropdown-dialog .icon,
.dropdown-dialog .icon svg {
    display: block;
    width: 24px;
    height: 24px;
}
.dropdown-dialog .icon.ico-white {
    fill: var(--dropdown-text-color);
}

@media (max-width: 600px) {
    .dropdown-dialog .body {
        position: fixed;
        width: 100% !important;
        height: 100dvh !important;
        top: 0px !important;
        left: 0px !important;
        border-radius: 0px;
    }
}


/* MODAL CSS */

#modal-container[for-extension="dynamic-audio"] {
    --modal-header-color: rgba(0,0,0, 0);
    --modal-body-color: rgb(25, 25, 25);
    --modal-border-color: rgb(60, 60, 60);
    --header-footer-color: rgba(0, 0, 0, 0);
}

#modal-container[for-extension="dynamic-audio"] {
    pointer-events: none;
    position: fixed;
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    height: 100vh;
    /* backdrop-filter: blur(4px); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    opacity: 0;
    overflow: auto;
    top: 0;
    left: 0;
}

#modal-container[for-extension="dynamic-audio"].hide {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s linear;
}
#modal-container[for-extension="dynamic-audio"].show {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.2s linear;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper {
    width: -webkit-fill-available;
    width: -moz-available;
    height: -webkit-fill-available;
    height: -moz-available;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.3s linear;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper.active {
    pointer-events: all;
    opacity: 1;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal {
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 800px;
    margin: 20px;
    background-color: var(--modal-body-color);
    border-radius: 4px;
    border: 1px solid var(--modal-border-color);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s linear
    ;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    display: flex;
    flex-direction: column;
    box-shadow: 0 24px 64px 2px rgba(0,0,0,0.4);
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper.active > .modal {
    opacity: 1;
    /* bounce */
    transition: opacity 0.1s linear
    ;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal.modal-exlg {
    max-width: 1200px;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal.modal-lg {
    max-width: 1000px;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal.modal-md {
    max-width: 600px;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal.modal-sm {
    max-width: 400px;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal.modal-tiny {
    max-width: 200px;
}
/* modalheader */
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal > .header {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal > .header .title {
    font-size: 1.5rem;
    font-weight: 600;
}
/* content */
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper > .modal > .content {
    width: -webkit-fill-available;
    width: -moz-available;
    box-sizing: border-box;
    height: -webkit-fill-available;
    height: -moz-available;
    overflow: auto;
}
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper> .modal > .content > .inner {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0 20px;
    box-sizing: border-box;
}
/* footer */
#modal-container[for-extension="dynamic-audio"] > .modal-wrapper> .modal > .footer {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), var(--card-header-color), rgba(0, 0, 0, 0.5)); */
    /* background-color: var(--card-header-color); */
    /* background: linear-gradient(to bottom, var(--card-header-color), rgba(60,60,60, 0.5));
    border-top: 1px solid var(--header-footer-color); */
}
