/* .audio-ui-block {
    margin-bottom: 1em;
}

.audio-mixer-div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px rgb(75, 75, 75) solid;
    border-radius: 10px;
}

.audio-label {
    display: block;
    text-align: center;
}

.audio-volume-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audio-lock-button {
    width: 100%;
    height: 2em;
}

.audio-random-button {
    width: 100%;
    height: 2em;
}

.audio-mute-button {
    width: 100%;
    height: 2em;
}

.audio-slider {
    width: 100% !important;
    vertical-align: center;
}

#audio_refresh_assets {
    width: 50px;
    height: 30px;
}

.audio-mixer-mute {
    width: 10%;
}

.audio-mixer-lock {
    width: 10%;
}

.audio-mixer-random {
    width: 10%;
} */

#audio_settings .flex {
    display: flex;
}


#audio_settings .flex.column {
    flex-direction: column;
}
#audio_settings .flex.column-reverse {
    flex-direction: column-reverse;
}
#audio_settings .flex.row {
    flex-direction: row;
}
#audio_settings .flex.row-reverse {
    flex-direction: row-reverse;
}
/* align-items: center;
justify-content: flex-end;
gap: 12px; */
#audio_settings .flex.align-center {
    align-items: center;
}
#audio_settings .flex.justify-center {
    justify-content: center;
}
#audio_settings .flex.justify-start {
    justify-content: flex-start;
}
#audio_settings .flex.justify-end {
    justify-content: flex-end;
}

#audio_settings .flex.gap-12 {
    gap: 12px;
}

#audio_settings .btn-refresh {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    display: block;
}

#audio_settings .audio-container .audio-mute-button-muted {
    color: red;
}

#audio_settings .audio-container {
    padding: 3px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.5);
    border: 1px rgb(75, 75, 75) solid;
    border-radius: 10px;
}

#audio_settings .audio-container .audio-player-button {
    position: relative;
    height: 2rem;
}

#audio_settings .audio-container>.vol {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#audio_settings .audio-container>.vol>input {
    width: 100%;
}

#audio_settings .audio-container>.playlist {
    flex-grow: 1;
}

#audio_settings .audio-container>.playlist>select {
    height: 100%;
    margin: 0 !important;
}